extends layout

block wrapper
  h1= page.header

  a.btn.btn-primary(href=page.newHref)= t('New element')
  .row
    table#datatable.table.table-striped.table-hover
      thead
        tr
          each col in datatable.cols
            th(class=col.name)= col.label
          th.edit= t('Edit')

block scripts
  script(src=resPath+'vendors/datatables/media/js/jquery.dataTables.min.js')
  script(src=resPath+'vendors/datatables/media/js/dataTables.bootstrap.min.js')
  script(src=resPath + 'js/datatable.js')
  script
    | pageOptions = !{page.options}; datatableOptions = !{datatable.options};
