extends layout

block wrapper
  .row
    .col-lg-12
      h1.page-header= page.header
        a.btn.btn-primary.pull-right(href=page.newHref)
          i.fa.fa-plus.btn-icon
          = t('New element')
  .row
    .col-lg-12
      table#datatable.dataTable.table.table-striped.table-hover.display.responsive.no-wrap(style='width:100%')
        thead
          tr
            each col in datatable.cols
              th(class=col.name)= col.label
            th.edit= t('Edit')

block append scripts
  script(src=resPath + 'vendors/datatables/media/js/jquery.dataTables.min.js')
  script(src=resPath + 'vendors/datatables/media/js/dataTables.bootstrap.min.js')
  script(src=resPath + 'vendors/datatables-responsive/js/dataTables.responsive.js')
  script(src=resPath + 'vendors/datatables-responsive/js/responsive.bootstrap.js')
  script(src=resPath + 'js/datatable.js')
  script
    | pageOptions = !{page.options}; datatableOptions = !{datatable.options};

block append styles
  link(href=resPath + 'vendors/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css', rel='stylesheet', type='text/css')
  link(href='//cdn.datatables.net/responsive/2.0.0/css/responsive.dataTables.min.css')
