extends layout
include ../components/base

mixin input-text(input)
  .form-group
    label= input.label
    if input.placeholder
      input.form-control(name=input.name, placeholder=input.placeholder)
    else
      input.form-control(name=input.name)

mixin input-number(input)
  .form-group
    label= input.label
    input.form-control(type='number', name=input.name, placeholder=input.placeholder, min=0)

mixin input-password(input)
  .form-group
    label= input.label
    if input.placeholder
      input.form-control(type='password', name=input.name, placeholder=input.placeholder)
    else
      input.form-control(type='password', name=input.name)

mixin input-select(input)
  .form-group
    label= input.label
    select.form-control(name=input.name)
      each option in input.options
        option(value=option.value)= option.text

mixin input-reference(input)
  .form-group
    label= input.label
    select.form-control(name=input.name, id=input.id)

mixin input-date(input)
  .form-group
    label= input.label
    .input-group.input-append.date.datepicker(data-provide=datepicker)
      if input.placeholder
        input.form-control(name=input.name, placeholder=input.placeholder)
      else
        input.form-control(name=input.name)
      span.input-group-addon.add-on
        span.fa.fa-calendar

mixin input(input)
  case input.type
    when 'text'
      +input-text(input)
    when 'number'
      +input-number(input)
    when 'reference'
      +input-reference(input)
    when 'select'
      +input-select(input)
    when 'date'
      +input-date(input)
    when 'password'
      +input-password(input)

block wrapper
  form#generated-form(role='form')
    .row
      .col-lg-12
        h1.page-header= page.header
          a.btn.btn-danger.pull-right#generated-delete
            i.fa.fa-trash.btn-icon
            = t('Delete')
          a.btn.btn-success.pull-right#generated-submit
            i.fa.fa-cog.btn-icon
            = t('Submit')
          if form.allowMultipleInsert
            #nb_to_add.input-group.pull-right(style='width:230px')
              span.input-group-addon= t('Quantity')
              input.form-control(type='number', name='nb_to_add', value='1', min='1', max='1000')
    .row
      .col-lg-12
        +panel-simple(form.header, 'default')(id='form-panel')
          .row
            each input in form.inputs
              .col-lg-6
                +input(input)
                if input.help
                  p.help-block= input.help

block append scripts
  script(src=resPath + 'vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
  script(src=resPath + 'vendors/bootstrap-datepicker/dist/locales/bootstrap-datepicker.' + page.lang + '.min.js')
  script(src=resPath + 'vendors/sweetalert/dist/sweetalert.min.js')
  script(src=resPath + 'vendors/moment/min/moment.min.js')
  script(src=resPath + 'js/form.js')
  script
    | var pageOptions = !{form.options};
