extends ../layouts/layout
include ../components/base

mixin block-item(icon, type, number, label, href)
  .col-lg-3.col-md-6
    +panel(type)
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-5x(class=icon)
          .col-xs-9.text-right
            if href
              a.huge(href=href) #{number}
              div= label
            else
              .huge= number
              div= label

block wrapper
  #dashboard
    .row
      .col-lg-12
        h1.page-header= t('Dashboard')

    each row in blocks
      .row
        each item in row
          +block-item(item.icon, item.type, item.count, item.label, item.path)

block append scripts