extends ../layouts/layout
include ../components/base

mixin block-item(icon, type, number, label, href)
  .col-lg-3.col-md-6
    +panel(type)
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-5x(class=icon)
          .col-xs-9.text-right
            if href
              a.huge(href=href) #{number}
              div= label
            else
              .huge= number
              div= label

block wrapper
  #dashboard
    .row
      .col-lg-12
        h1.page-header= t('Dashboard')

    .row
      each item in blocks
        +block-item(item.icon, item.type, item.count, item.label, item.path)
    .row
      .col-lg-12
        +panel('default')
          +panel-heading('Area Chart Example', 'fa-bar-chart-o')
            .pull-right
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Actions
                  span.caret
                ul.dropdown-menu.pull-right(role='menu')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
          .panel-body
            #morris-area-chart

block scripts
  // Morris Charts JavaScript
  script(src='vendors/raphael/raphael-min.js')
  script(src='vendors/morrisjs/morris.min.js')
  script(src='js/morris-data.js')