extends ../layouts/report

block content

  if page.logo
    .pull-right
      img(src=page.logo)

  h1= page.header
  .date= page.date

  table.table.table-bordered.table-hover
    tr
      each cell in data.headers
        th= cell
    each row in data.rows
      tr
        each cell in row
          td= cell

  .count= t('There is x record', {count: data.rows.length})
